.sass-cache
.DS_Store
.thumbsdb
.svn
npm-debug.log
node_modules/
uploads/
upgrade/

# Hack to keep these plugins attached to their remotes
plugins/meta-inspector/.git
plugins/wordpress-simplechart/.git